html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  margin: 0;
  padding: 0;
}
.full-width > .container-fluid{
  padding-left: 0;
  padding-right: 0;
}
a{
  text-decoration: none;
  cursor: pointer;

  &:hover{
    text-decoration: none;
  }
}



