.section-heading{
  font-size: 26px;
  font-weight: 900;
}
.section-description{
  font-size: 20px;
}

@media screen and (max-width: 767px){
  .section-heading{
    font-size: 18px;
  }
  .section-description{
    font-size: 16px;
    text-align: justify;
  }
}

@media screen and (max-width: 320px){
  .section-heading{
    font-size: 18px;
  }
  .section-description{
    font-size: 16px;
    text-align: justify;
  }
}

