<!-- <div style="height: 100vh;background-color: black;"></div> -->
<div class="banner" style="background-image: url('assets/images/backgrounds/bg-banner.png')">
  <div class="banner-carousel">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-7 order-2 order-md-1">

          <div class="banner-carousel-wrapper">
            <owl-carousel-o [options]="customOptions">
              <ng-template carouselSlide>
                <img src="assets/images/team/img-gabe.jpg" alt="img-gabe.jpg">
              </ng-template>
              <ng-template carouselSlide>
                <img src="assets/images/team/img-nasir.jpg" alt="img-nasir.jpg">
              </ng-template>
              <!-- <ng-template carouselSlide>
                <img src="assets/images/team/img-zaf.jpg" alt="img-zaf.jpg">
              </ng-template> -->
              <ng-template carouselSlide>
                <img src="assets/images/team/img-saqib.jpg" alt="img-saqib.jpg">
              </ng-template>
              <ng-template carouselSlide>
                <img src="assets/images/team/img-atif.jpg" alt="img-atif.jpg">
              </ng-template>
              <ng-template carouselSlide>
                <img src="assets/images/team/img-shahroze.jpg" alt="img-shahroze.jpg">
              </ng-template>
              <ng-template carouselSlide>
                <img src="assets/images/team/img-ashar.jpg" alt="img-ashar.jpg">
              </ng-template>
              <ng-template carouselSlide>
                <img src="assets/images/team/img-umar.jpg" alt="" img-umar.jpg>
              </ng-template>
              <ng-template carouselSlide>
                <img src="assets/images/team/img-hamza.jpg" alt="img-hamza.jpg">
              </ng-template>
            </owl-carousel-o>
          </div>

          <div class="disruptive-intro d-none">
            <iframe width="100%" height="100%" src="https://player.vimeo.com/video/593139073"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
          </div>

          <div class="description-text desc-under-carousel">
            <h3 class="clr-black section-heading">We Are a Family of Disruptors!</h3>
            <div class="disrupt-meaning section-description mb-2">
              <strong>/dɪsˈrʌpt/</strong>
              <ul class="mb-1">
                <li>(of a company or technology) cause radical change in (an industry or market) by means of innovation.</li>
              </ul>
              <span>"Norm believes our our object detection <strong>AI</strong> will <strong>disrupt</strong> roofing sector"</span>
            </div>
            <p class="clr-black section-description">A silicon-valley startup lead by American technology entrepreneur
              Gabriel Murphy based in Lahore, Pakistan, Disruptive Effects has both a unique business model and team
              space environment. Our mission is simple: create proprietary software-as-a-service platforms with
              patentable sources and methods we believe will have the effect of disrupting those niche industries in
              which we take aim while affording our North American clients a long-term, durable competitive
              advantage.</p>
            <p class="clr-black section-description"><strong>What we are:</strong> an unorthodox software and content
              curation firm
              nestled in Marghzar Colony devoted to our clients and the creation of SaaS platforms in which the entire
              organization has a vested interest.</p>
          </div>
        </div>

        <div class="col-md-5 order-1 order-md-2">
          <div class="site-description">
            <div class="site-logo">
              <img class="section-logo-width" src="assets/images/logos/site-logo-black.svg" alt="site-logo-black.svg">
            </div>

            <div class="description-text desc-under-logo">
              <h3 class="clr-black section-heading">We Are a Family of Disruptors!</h3>
              <div class="disrupt-meaning  section-description mb-2">
                <strong>/dɪsˈrʌpt/</strong>
                <ul class="no-margin-padding-ul-list mb-1">
                  <li>(of a company or technology) cause radical change in (an industry or market) by means of innovation.</li>
                </ul>
                <span>"Norm believes our our object detection <strong>AI</strong> will <strong>disrupt</strong> roofing sector"</span>
              </div>
              <p class="clr-black section-description">A silicon-valley startup lead by American technology entrepreneur
                Gabriel Murphy based in Lahore, Pakistan, Disruptive Effects has both a unique business model and team
                space environment. Our mission is simple: create proprietary software-as-a-service platforms with
                patentable sources and methods we believe will have the effect of disrupting those niche industries in
                which we take aim while affording our North American clients a long-term, durable competitive
                advantage.</p>
              <p class="clr-black section-description"><strong>What we are:</strong> an unorthodox software and content
                curation firm
                nestled in Marghzar Colony devoted to our clients and the creation of SaaS platforms in which the entire
                organization has a vested interest.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


