.banner{
  height: 100vh;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;

  .banner-carousel{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 30px;

    .site-logo{
      margin-bottom: 35px;
    }

    .disruptive-intro{
      height: 588px;
    }

  }

  .desc-under-carousel{
    display: none;
  }
}

/*MEDIA QUERIES*/

@media screen and (max-width: 767px)  {
  .banner{

    height: auto;
    padding-top: 30px;
    .banner-carousel{
      top: unset;
      transform: none;
      padding: 0;

      .site-logo{
        text-align: center;
        margin-bottom: 40px;

        img{
          width: 195px;
        }
      }

      .disruptive-intro{
        height: 216px;
      }

    }

    .desc-under-logo{
      display: none;
    }
    .desc-under-carousel{
      display: block;
    }
  }
}


@media screen and (max-width: 320px)  {
  .banner{

    height: auto;
    background-position: -850px;
    padding-top: 30px;
    .banner-carousel{
      top: unset;
      transform: none;
      padding: 0;

      .site-logo{
        text-align: center;
        margin-bottom: 40px;

        img.section-logo-width{
          width: 95px;
        }
      }

    }

    .desc-under-logo{
      display: none;
    }
    .desc-under-carousel{
      display: block;
    }
  }
}
